@model SurveyModel
@{
  ViewData["Title"] = "ESHC WSP Survey";
}

<h2>Successfully submitted</h2>

<p>
  Thank you for submitting your entry.
   If you want to make any changes please just resubmit this form. 
   If you have any questions email <a href="mailto:participation@eshc.coop">participation@eshc.coop</a>.
</p>

<p>
  Thanks, <br />
  Participation Team
</p>